<div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false" data-bs-wrap="true">
  <div class="carousel-inner">
    <div class="carousel-item active" id="first"  data-bs-interval="2000">
      <img src="{{database[0].image}}" class="d-block w-100" alt="slide-1">
    </div>
    <div class="carousel-item" id="second"  data-bs-interval="4000">
      <img src="{{database[1].image}}" class="d-block w-100" alt="slide-2">
    </div>
    <div class="carousel-item" id="third"  data-bs-interval="6000">
      <img src="{{database[2].image}}" class="d-block w-100" alt="slide-3">
    </div>
  </div>
</div>