
    
            
            <div class="tm-row">
                <div class="tm-col-left">
                    <section class="tm-content">

                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="{{single[0].image}}" alt="Image" class="tm-service-img">
     
                        </div>
                        
                                <section class="tm-content">
                                 
                                    <h2 class="mb-5 tm-content-title">"{{single[0].name}}"</h2>
                                    <p class="mb-5">"{{single[0].description}}"</p>                        
                                    
                                </section>
                                                
                    </section>
                </div>


                
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="tm-content-title">Tourist Attractions</h2>
                        <hr class="mb-3">
                    </section>

                    <section class="tm-content">
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="{{single[0].image1}}" alt="Image" class="tm-service-img"> 
                        </div>
                        <section class="tm-content">
                            <!-- <hr class="mb-3"> -->
                            <h2 class="tm-content-title">Poovar Island</h2>
                            <p>Poovar, a small coastal village along the natural harbour at Vizhinjam, is believed to have been the place called 'Ophir' where the ships of the biblical king Solomon had arrived. It was then an important center of trade for sandalwood, spices and timber.</p>                        
                            <hr>
                        </section> 
                        
                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="https://www.holidify.com/images/attr_square/3815.jpg" alt="Image" class="tm-service-img">
                        </div>
                        <section class="tm-content">
                            <h2 class="tm-content-title">Neyyar Dam & Wildlife Sanctuary</h2>
                            <p>Famous for its Lion and Deer Safari, Neyyar Wildlife Sanctuary is a treat for nature enthusiasts. The park houses a crocodile farm and elephant rehabilitation centre. Ask for a guided tour of the sanctuary which is quite informative.</p>                        
                            <hr>
                        </section>

                        <div class="media my-3 mb-5 tm-service-media tm-service-media-img-l">
                            <img src="https://www.holidify.com/images/cmsuploads/square/6580072031_bd440e0838_b_20180205133850.jpg" alt="Image" class="tm-service-img">
                        </div>
                        <section class="tm-content">
                            <h2 class="tm-content-title">Sree Padmanabhaswamy Temple</h2>
                            <p>One of the 108 Divya Desams, Sree Padmanabhaswamy Temple is located in Thiruvananthapuram, the capital city of Kerala. Embellished in gold-plated covering, the temple is opened only to Hindu followers. Dedicated to Lord Padmanabha; one of the avatars of Lord Vishnu, the Padmanabhaswamy Temple is one of the principal centres of Vaishnava worship in the dharma of Vaishnavism.</p>                        
                            <hr>
                        </section>

                        
                    </section>
                </main>
            </div>
                
    
 